In [17]:
from pandas_profiling import ProfileReport
from sklearn.feature_extraction import text
from wordcloud import WordCloud
from wordcloud import ImageColorGenerator
from wordcloud import STOPWORDS
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import neattext as nt
import nltk
stop = text.ENGLISH_STOP_WORDS

pd.set_option("display.max_rows", 10)
df = pd.read_csv('./trainTEST.csv')
df

,Unnamed: 0,id,keyword,location,text,target,score,polaridad
0,0,1,NaN,NaN,DEEDS REASON EARTHQUAKE ALLAH FORGIVE,1,0.2732,neutral
1,1,4,NaN,NaN,FOREST FIRE NEAR RONGE SASK CANADA,1,-0.3400,negative
2,2,5,NaN,NaN,RESIDENTS ASKED SHELTER PLACE NOTIFIED OFFICER...,1,0.0000,neutral
3,3,6,NaN,NaN,PEOPLE RECEIVE WILDFIRES EVACUATION ORDERS CA...,1,0.0000,neutral
4,4,7,NaN,NaN,GOT SENT PHOTO RUBY ALASKA SMOKE WILDFIRES POU...,1,0.0000,neutral
...,...,...,...,...,...,...,...,...
7608,7608,10869,NaN,NaN,GIANT CRANES HOLDING BRIDGE COLLAPSE NEARBY HOMES,1,-0.4939,negative
7609,7609,10870,NaN,NaN,ARIAAHRARY THETAWNIEST CONTROL WILD FIRES CALI...,1,-0.5423,negative
7610,7610,10871,NaN,NaN,M UTCKM VOLCANO HAWAII,1,0.0000,neutral
7611,7611,10872,NaN,NaN,POLICE INVESTIGATING EBIKE COLLIDED CAR LITTLE...,1,-0.7650,negative
7612,7612,10873,NaN,NaN,LATEST HOMES RAZED NORTHERN CALIFORNIA WILDFIR...,1,0.0000,neutral

In [18]:
text = df["text"].str.upper()

for i in range(len(text)):
    text[i] = nt.TextFrame(str(text[i])).remove_urls()
    text[i] = nt.TextFrame(str(text[i])).remove_emails()
    text[i] = nt.TextFrame(str(text[i])).remove_emojis()
    text[i] = nt.TextFrame(str(text[i])).remove_puncts()
    text[i] = nt.TextFrame(str(text[i])).remove_numbers()
    text[i] = nt.TextFrame(str(text[i])).remove_html_tags()
    text[i] = nt.TextFrame(str(text[i])).remove_btc_address()
    text[i] = nt.TextFrame(str(text[i])).remove_phone_numbers()
    text[i] = nt.TextFrame(str(text[i])).remove_special_characters()
    text[i] = nt.TextFrame(str(text[i])).remove_stopwords(lang = "es")
    text[i] = nt.TextFrame(str(text[i])).remove_stopwords(lang = "en")


df["text"] = text.astype(str)

In [19]:
# NEGATIVOS

df.sort_values(by=["score"]).head(10)

,Unnamed: 0,id,keyword,location,text,target,score,polaridad
7472,7472,10689,wreck,NaN,WRECK WRECK WRECK WRECK WRECK WRECK WRECK WREC...,0,-0.9879,negative
6414,6414,9172,suicide%20bomber,NaN,ABUBARAA SUICIDE BOMBER TARGETS SAUDI MOSQUE D...,1,-0.9686,negative
6411,6411,9166,suicide%20bomber,NaN,SUICIDE BOMBER KILLS SAUDI SECURITY SITE MOSQU...,1,-0.9623,negative
6393,6393,9137,suicide%20bomb,Worldwide,TH DAY JUL NIGERIA SUICIDE BOMB ATTACKS KILLED...,1,-0.9595,negative
6407,6407,9159,suicide%20bomber,Worldwide,KILLED SARABIA MOSQUE SUICIDE BOMBING SUICIDE ...,1,-0.9552,negative
472,472,682,attack,"portland, oregon",ILLEGAL ALIEN RELEASED OBAMADHS TIMES CHARGED ...,1,-0.9538,negative
1540,1540,2225,chemical%20emergency,"Las Vegas, Nevada",BOMB CRASH LOOT RIOT EMERGENCY PIPE BOMB NUCLE...,1,-0.9524,negative
6930,6930,9940,trouble,NaN,CSPAN PREZ MR PRESIDENT BIGGEST TERRORIST TROU...,1,-0.9493,negative
2932,2932,4213,drowned,Pembroke NH,LAKE SEES DEAD FISH POOR LITTLE GUY WONDER HAP...,0,-0.9477,negative
6438,6438,9211,suicide%20bombing,NaN,REMEMBERING REBECCA ROGA PHILIPPINES MURDERED ...,1,-0.9451,negative

In [20]:
# POSITIVOS


df.sort_values(by=["score"], ascending=False).head(10)

,Unnamed: 0,id,keyword,location,text,target,score,polaridad
6992,6992,10028,twister,NaN,CHECK WANT TWISTER TICKETS VIP EXPERIENCE SHAN...,0,0.9682,positive
3163,3163,4541,emergency,"Renfrew, Scotland",BATFANUK ENJOYED TODAY GREAT FUN EMERGENCY NON...,0,0.9423,positive
3382,3382,4844,evacuation,"Renfrew, Scotland",BATFANUK ENJOYED TODAY GREAT FUN EMERGENCY NON...,0,0.9423,positive
6292,6292,8989,storm,NaN,TODAYS STORM PASS LET TOMORROWS LIGHT GREET KI...,1,0.9403,positive
2238,2238,3198,deluge,NaN,MEDITATIONBYMSG PPL GOT METHOD MEDITATION AMPG...,0,0.9287,positive
6295,6295,8994,stretcher,NaN,FREE EBAY SNIPING RT LUMBAR EXTENDER STRETCHER...,0,0.9260,positive
6560,6560,9386,survived,Puerto Rico,DUCHOVBUTT STARBUCKSCULLY MADMAKNY DAVIDDUCHOV...,0,0.9217,positive
1856,1856,2668,crush,"San Diego, Texas.",LOVE LOVE LOVE REMEMBER CRUSH,0,0.9186,positive
1909,1909,2744,crushed,Trinidad & Tobago,DISILLUSIONED LEAD CHARACTER CHECK HAPPY LUCKY...,0,0.9136,positive
5033,5033,7176,mudslide,London,IMPRESSIONS GLAD HAT MAN LEAVING LIEU INTEREST...,0,0.9100,positive

In [21]:
from nltk import word_tokenize 
nltk.download(['stopwords', 'punkt', 'names', 'vader_lexicon'] )
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense,SpatialDropout1D
from keras.initializers import Constant
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
dataText = []
for tweet in df['text']:
    bodyText=[word.lower() for word in word_tokenize(tweet) if((word.isalpha()==1) & (word not in stop))]
    dataText.append(bodyText)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\diego\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\diego\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package names to
[nltk_data]     C:\Users\diego\AppData\Roaming\nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\diego\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [22]:


dicWords={}
with open('./glove.6B.100d.txt','r', encoding='utf-8') as f:
    for line in f:
        words=line.split()
        word=words[0]
        vectors=np.asarray(words[1:],'float32')
        dicWords[word]=vectors
f.close()

In [23]:


MAX_LEN = 50
token = Tokenizer()
token.fit_on_texts(dataText)
sequences = token.texts_to_sequences(dataText)

tweet_sequence = pad_sequences(sequences, maxlen=MAX_LEN, truncating='post', padding='post')

In [24]:


word_index=token.word_index
print('Number of unique words:',len(word_index))

Number of unique words: 16522

In [25]:


num_words = len(word_index) + 1
matrixEmb=np.zeros((num_words,100))

for word,i in word_index.items():
    if i > num_words:
        continue
    
    emb_vec=dicWords.get(word)
    if emb_vec is not None:
        matrixEmb[i]=emb_vec

In [26]:


from cProfile import run


model=Sequential()
embedding=Embedding(num_words,100,embeddings_initializer=Constant(matrixEmb), input_length=MAX_LEN,trainable=False)
model.add(embedding)
model.add(SpatialDropout1D(0.2))
model.add(LSTM(64, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))
optimzer=Adam(learning_rate=1e-5)
model.compile(loss='binary_crossentropy',optimizer=optimzer,metrics=['accuracy'], run_eagerly=True)

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 50, 100)           1652300

 spatial_dropout1d_1 (Spatia  (None, 50, 100)          0
 lDropout1D)

 lstm_1 (LSTM)               (None, 64)                42240

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 1,694,605
Trainable params: 42,305
Non-trainable params: 1,652,300
_________________________________________________________________

In [28]:
train=tweet_sequence[:df.shape[0]]
test=tweet_sequence[df.shape[0]:]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(train, df['score'].values, test_size=0.15)
X_train.shape, X_test.shape

((6471, 50), (1142, 50))

In [32]:
history = model.fit(X_train, y_train, batch_size=4, epochs=5, validation_data=(X_test, y_test), verbose=2)

Epoch 1/5
1618/1618 - 595s - loss: 0.0029 - accuracy: 0.2513 - val_loss: -8.1011e-01 - val_accuracy: 0.2452 - 595s/epoch - 368ms/step
Epoch 2/5
1618/1618 - 541s - loss: -9.0833e-01 - accuracy: 0.2513 - val_loss: -1.1018e+00 - val_accuracy: 0.2452 - 541s/epoch - 334ms/step
Epoch 3/5
1618/1618 - 508s - loss: -1.1697e+00 - accuracy: 0.2514 - val_loss: -1.3353e+00 - val_accuracy: 0.2452 - 508s/epoch - 314ms/step
Epoch 4/5
1618/1618 - 495s - loss: -1.3686e+00 - accuracy: 0.2514 - val_loss: -1.5155e+00 - val_accuracy: 0.2452 - 495s/epoch - 306ms/step
Epoch 5/5
1618/1618 - 530s - loss: -1.5291e+00 - accuracy: 0.2514 - val_loss: -1.6671e+00 - val_accuracy: 0.2452 - 530s/epoch - 327ms/step